@font-face {
  font-family: Inter;
  src: url(../font/Inter-Regular.ttf);
}
* {
  background-color: #161618;
  font-family: Inter;
}

.contact {
  padding: 64px 8px 64px 8px;
}
h1 {
  font-size: 64px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
}
p {
  font-size: 32px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}
.input {
  border-radius: 50px !important;
}
.input-type {
  color: #ffffff !important;
}
.input-textarea {
  border-radius: 20px !important;
}

.center-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: #ffffff !important;
  width: 32px !important;
  height: 32px !important;
}
h4 {
  font-size: 20px !important;
  color: #ffffff !important;
}
h5 {
  font-size: 16px !important;
  color: #ffffff !important;
  width: 300px !important;
}
.text-center {
  margin-top: 50px !important;
}
.text-center .mb-4 {
  padding-left: 4rem; /* Add space between columns */
  padding-right: 4rem; /* Add space between columns */
}
.paras {
  font-size: 16px !important;
  color: #ffffff !important;
}
